#gameboard {
  width: 200px;
  height: 200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.5rem;
}

#gameboard > div {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  font-size: 2rem;
}